<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>Servlets.Menu</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Servlets.Registro</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>F</servlet-name>
        <servlet-class>Servlets.F</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>Servlets.ActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>F</servlet-name>
        <url-pattern>/F</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
